@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  overflow-x: hidden;
}

/* Ãrea segura para dispositivos com notch */
@supports (padding: env(safe-area-inset-top)) {
  body {
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}
