@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #2563EB;
  --color-primary-foreground: #FFFFFF;
}

@layer base {

  html,
  body {
    @apply bg-[#0B0E14] text-gray-100;
  }
}